
.idea/misc.xml
*.xml
.idea/gradle.xml
.idea/misc.xml
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
